<html lang="en">
<head>
    {% load static %}
    <title>login page</title>
    <meta charset="utf-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style type="text/css">
    nav{font-family: Apple Chancery,cursive;}
    h3{font-family: Apple Chancery,cursive;font-size: 36px;color: red;background-color: white;}

    </style>
</head>

<body background="{% static 'homepage/images/r4.jpg' %}">
<nav class='nav navbar-inverse'>
    <div class='container-fluid'>
    
        <div class='navbar=header'>
                <a href='#' class='navbar=brand'></a>
            </div>

            <div>
                <ul class='nav navbar-nav'>
                    <li><a href="{% url 'home' %}">About</a> </li>
                    <li class='active'><a href="#">Subjects</a></li>
                    <li><a href="{% url 'contact-1' %}">Contact</a></li>
                </ul>
                <ul class='nav navbar-nav navbar-right'>
                    <li><a href="{% url 'teacher_login' %}"><span class='glyphicon glyphicon-log-in'></span>Teacher login</a></li>
                </ul>
            </div>

        </div>
</nav>
<table class='table table-condense'>
	<thead>
		<tr>
			<th>Subject</th>
            <th>Course</th>
            <th>Last Date of Submission</th>
            <th>Assignment</th>
			<th>Upload Assignment</th>
        </tr>
    <tbody>
        {% for subject in subjects %}    
            <tr>
                <th>{{subject.subject}} </th>
                <th>{{subject.course}}</th>
                <th ><span style='color:red'>{{subject.date_of_submission}}</span></th>
                <th><a href="{{subject.assignment_given.url}}"><span class='glyphicon glyphicon-download'></span>{{subject.subject}} Assignment</a></th>
                <th><a href="{% url 'login' %}"><span class='glyphicon glyphicon-upload'></span>Upload</a></th>
            </tr>  
        {% endfor %}



    </tbody>


	</thead>


</table>

</body>			